{% extends "NewTemplate/base2.html"%}
{% load static %}
{% block content %}
<div class="ec-content-wrapper">
    <!-- Content -->
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-contacts">
            <div>
                <h1>Security & Password</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-default" style="margin: 0 15px;">
                <div class="card-header card-header-border-bottom">
                    <h2>Change the Password</h2>
                </div>
                <div class="card-body">
                    <div class="row ec-vendor-uploads">
                        <form action="{% url 'AdminSecurityandPassword' %}" method="post" style="margin: 0 15px;">
                            {% csrf_token %}
                            <div style="border-bottom: 1px solid #f3f3f3;">
                                <input type="number" value="{{user_id}}" name="userid" hidden>
                                <div class="col-lg-6 d-flex mb-3">
                                    <div class="col-lg-3">
                                        <label for="inputEmail4" class="form-label"><h3 style="font-size: 15px;">Old Password : </h3></label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control slug-title" name="old_password"required id="inputEmail4">
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex mb-3">
                                    <div class="col-lg-3">
                                        <label for="inputEmail4" class="form-label"><h3 style="font-size: 15px;">New Password : </h3></label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control slug-title" name="new_password"required id="inputEmail4">
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex mb-3">
                                    <div class="col-lg-3">
                                        <label for="inputEmail4" class="form-label"><h3 style="font-size: 15px;">Confirm Password : </h3></label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control slug-title" name="confirm_password"required id="inputEmail4">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button  class="btn btn-primary btn-pill" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}