{% extends "base.html"%}{% load static %} {% block content %}
<style>
	.ec-vendor-list .vendor-thumb {
		width: 70px;
		height: 60px;
		border-radius: 15px;
	}
</style>
			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper breadcrumb-contacts">
						<div>
							<h1>Approved Agent Licence List</h1>
							<p class="breadcrumbs"><span><a href="{% url 'dashboard' %}">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>
							</p>
						</div>
						<!-- <div>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#addUser"> Add New
							</button>
						</div> -->
						<!-- <div>
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#addcsv"> upload Csv
							</button>
						</div> -->
						
					</div>
					<div class="row">
						<div class="col-12">
							<div class="ec-vendor-list card card-default">
								<div class="card-body">
									<div class="table-responsive">
										<table id="responsive-data-table" class="table">
											<thead>
												<tr>
													<th>User</th>
													<th>License Number</th>
													<th>Full Name</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Is Verified</th>
													<th>Action</th>
												</tr>
											</thead>

											<tbody>

												{% for item in agentlicobj %}
												<tr>
													
													{% if item.user %}
													<td><a href="{% url 'userprofile' item.user.id %}">{{item.user.username}}</a></td>
													{% else %}
													<td>Not Verified</td>
													{% endif %}

													<td>{{item.license_number}}</td>
													<td>{{item.Full_name}}</td>

													<td>{{item.first_name}}</td>
													<td>{{item.last_name}}</td>

													<td>{{item.is_validated}}</td>
													<td>
														<div class="btn-group mb-1">
														
															<div class="pl-3"></div>
															<form action="" method="POST">
																{% csrf_token %}
																	<input type="button" disabled class="btn btn-outline-success" name="action" style="color:rgb(73, 73, 73)" value="Approved"  onclick="return confirm('Do you Want To Approve Request?')">
																</form>
														</div>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
										<nav aria-label="...">
											<ul class="pagination">
												{% if agentlicobj.has_previous %}
													<!-- <li class="page-item">
														<a class="page-link" href="?page=1" >First</a>
													</li> -->
													<li class="page-item">
														<a class="page-link" href="?page={{agentlicobj.previous_page_number}}" ><<</a>
													</li>
												{% endif %}
												<li class="page-item">
													<a class="page-link" href="#">{{agentlicobj.number}} <span class="sr-only">(current)</span></a>
												</li>
												{% if agentlicobj.has_next %} 
													<li class="page-item">
														<a class="page-link" href="?page={{agentlicobj.next_page_number}}">>></a>
													</li>
													<!-- <li class="page-item">
														<a class="page-link" href="?page={{agentlicobj.paginator.num_pages}}">Last</a>
													</li> -->
												{% endif %}
										  	</ul>
										</nav>
										<!-- start paginator -->
										<!-- <nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">

												{% if agentlicobj.has_previous %}
											  <li class="page-item ">
												<a class="page-link" href="?page={{agentlicobj.previous_page_number}}" tabindex="-1" aria-disabled="true" >Previous</a>
											  </li>
											  {% endif %}

											  {% for i in obj %}
											  <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
											  {% endfor %}

											  {% if agentlicobj.has_next %}
											  <li class="page-item">
												<a class="page-link" href="?page={{agentlicobj.next_page_number}}">Next</a>
											  </li>
											  {% endif %}

											</ul>
										</nav> -->
										<!-- end paginator -->

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Add User Modal  -->
					<!-- <div class="modal fade modal-add-contact" id="addUser" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<form action="{% url 'propertymaincategory'%}" method="post">
									{% csrf_token %}
									<div class="modal-header px-4">
										<h5 class="modal-title" id="exampleModalCenterTitle">Add New Agent Licence</h5>
									</div>

									<div class="modal-body px-4">
										

										<div class="row mb-2">
											<div class="col-lg-6">
												<div class="form-group">
													<label for="firstName">Type Of Listing</label>
													<select class="form-select form-control" name="maincategoryid" aria-label="Default select example" required>
														{% for item in propertylistingtypeobj %}
															<option value="{{item.id}}">{{item.type_of_listing}} {{item.listing_type}}</option>
														{% endfor %}
													  </select>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="form-group">
													<label for="listing_type">Main category Name</label>
													<input type="text" class="form-control" id="listing_type" placeholder="Main Category Name" name="main" placeholdername="main_category_name" required>
												</div>
											</div>

											<div class="col-lg-6">
												<div class="form-group mb-4">
													<label for="listing-Position">Listing Position</label>
													<input type="number" class="form-control" id="listing-Position" name="listingposition" required>
												</div>
											</div>
										</div>
									</div>

									<div class="modal-footer px-4">
										<button type="button" class="btn btn-secondary btn-pill"
											data-bs-dismiss="modal">Cancel</button>
										<button  class="btn btn-primary btn-pill" id="idOfButton" type="submit">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div> -->
					

					<div class="modal fade modal-add-contact" id="addcsv" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<form action="{% url 'agentlicview'%}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="modal-header px-4">
									<h5 class="modal-title" id="exampleModalCenterTitle">Add New Agent License</h5>
								</div>

								<div class="modal-body px-4">
									

									<div class="row mb-2">
										
										<div class="col-lg-12">
											<div class="form-group">
												<label for="listing_type">Upload Csv</label>
												<input type="file" class="form-control" id="listing_type" placeholder="Main Category Name" name="myfile" placeholdername="main_category_name" required accept=".xlsx">
											</div>
										</div>

										
									</div>
								</div>

								<div class="modal-footer px-4">
									<button type="button" class="btn btn-secondary btn-pill"
										data-bs-dismiss="modal">Cancel</button>
									<button  class="btn btn-primary btn-pill" id="idOfButton" type="submit">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
		</div> <!-- End Content -->
	</div> <!-- End Content Wrapper -->

<!--start for page reload  -->
<script>
	window.history.replaceState({}, document.title, "/" + "agentapprovedrequest");
</script>
<!--end for page reload  -->
	
{% endblock %}


