{% extends "base.html"%}{% load static %} {% block content %}
			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>Edit State Master</h1>
							<p class="breadcrumbs"><span><a href="{% url 'dashboard' %}">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>Edit-Language-Master</p>
						</div>
						<div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-header card-header-border-bottom">
									<h2>Edit Language Master</h2>
								</div>

								<div class="card-body">
									<div class="row ec-vendor-uploads">
										
										<div class="col-lg-12">
											<div class="ec-vendor-upload-detail">
												<form action="{% url 'editlanguagemaster' languagemasterobj.id %}" method="post">
													{% csrf_token %}
													
				
													<div class="modal-body px-4">
														
				
														<div class="row mb-2">
															
															
															<div class="col-lg-6">
																<div class="form-group">
																	<label for="listing_type">Language Name</label>
																	<input type="text" class="form-control" id="listing_type" placeholder="City Name" value="{{languagemasterobj.languages_name}}" name="language_name" placeholdername="main_category_name" required>
																</div>
															</div>
				
															<div class="col-lg-6">
																<div class="form-group mb-4">
																	<label for="listing-Position">Position</label>
																	<input type="number" class="form-control" id="listing-Position" value="{{languagemasterobj.position}}" name="position" required>
																</div>
															</div>

															
														</div>
													</div>
				
													<div class="modal-footer px-4">
														<button type="button" class="btn btn-secondary btn-pill"
															data-bs-dismiss="modal">Cancel</button>
														<button  class="btn btn-primary btn-pill" id="idOfButton" type="submit">Save</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->

{% endblock %}